.categories {
  box-sizing: border-box;
  padding: 1rem;
  height: 85px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  align-items: center;
  overflow-x: auto;
  -ms-overflow-style: none;
}

.categories span {
  white-space: nowrap;
  height: min-content;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 10px;
  transition: background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.categories span:first-of-type,
.categories span:hover {
  background-color: var(--active);
  color: white;
}