header {
  background-color: #ffffff;
  grid-area: 1/span 2;
  border-top: 1px solid black;
  box-shadow: 0 4px 2px -2px gray;
  display: grid;
  margin: 2px 5px 5px 5px;
  align-items: center;
  grid-template-columns: 200px 1fr 100px;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover{
  color: black; 
}

.right-header-block {
  grid-area: 1/3;
  justify-self: center;
}

.search-wrapper{  
  grid-area: 1/2;
  justify-self: stretch;
  display: grid;
  grid-template-columns: minmax(200px,1fr);
}

.search-wrapper
.search
input{
  min-width:75%;
}

.search
input:hover{
  border: solid 3px rgba(7, 167, 189, 0.897);
}


.search{
  grid-area: 1/1;
  min-width: 50%;
  justify-self: center;
}

.search>button{
  position: relative;
  right: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.logo{
  grid-area: 1/1;
  justify-self: center;
}

.logo> a {
  padding-left: 10px;
  text-decoration: none;
  color: orange;
  font-size: 25px;
}

.dropbtn {
  color: black;
  background-color: var(--active);
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 5px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: orange;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #9ba59c;
}
