@font-face {
    font-family: Consolas;
    src: url("../fonts/Consolas.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Consolas;
}



:root {
    --focus: #222;
    --active: #f5a63c;
    --transparent-active: #b99c7688;
    --text: #e4e3e1;
}


hr {
    border-color: var(--active);
    border-style: dashed;
}


::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    background-color: transparent;
}
::-webkit-scrollbar-thumb { background-color: var(--transparent-active); }
::-webkit-scrollbar-thumb:hover { background-color: var(--active); }
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-corner { background-color: transparent; }

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(50px,250px) 1fr;
    grid-template-rows: 60px 1fr 80px;
}

.streamers-list { 
    grid-area: 2/1; 
    background-color: #C2C9D6
}
.info { grid-area: 3/1; }

footer{
    grid-area: 3/2;
    justify-self: center;
    align-self: center;
}

main {
    grid-area: 2/2;
    overflow-y: auto;
}

.info{
    justify-self:stretch;
    align-items: center ;
    border:solid 1px;
    border-color: grey;
    border-radius: 10px;
    background-color: #C2C9D6;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.info
span{
    display: block;
    text-align: center; 
    margin-bottom: 10px;
}

.links{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
}