.streamers-list { 
    overflow-y: auto; 
    border-radius: 10px;
    margin-left: 5px; 
}

.streamer-item {
    height: 85px;
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.25s ease-in-out;
}
.streamer-item .streamer-name { width: 100%; }
.streamer-item:hover { background-color: var(--transparent-active); }
.streamer-item .profile { margin-right: 0.75rem; }
.streamer-name,
.video-name { transition: color 0.25s ease-in-out; }
.streamer-name:hover,
.video-name:hover {
    color: var(--active);
    cursor: pointer;
}
.streamer-counter {
    display: flex;
    margin-left: 10px;
}
.streamer-item.online .streamer-counter {
    cursor: pointer;
}

.profile {
    border-radius: 50%;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.streamer-item.online .streamer-counter::before {
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    animation: pulse 2s infinite ease-in;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 lightcoral;
    }
    10% { transform: scale(0.75); }
    20% { transform: scale(1); }
    50% { box-shadow: 0 0 0 10px transparent; }
}

@media all and (max-width: 1200px) {
    .container { grid-template-columns: auto 1fr; }
    .streamers-list { width: max-content; }
    .info,
    .streamer-item .streamer-name,
    .streamer-item .streamer-counter { display: none; }
    .streamer-item .profile { margin-right: 0 !important; }
}