.videos {
  grid-area: 1/1;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-auto-rows: 1fr;
  justify-content: center;
  align-items: stretch;
  grid-gap: 10px;
}

.video {
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-rows: 1fr minmax(100px, max-content);
  border: solid 3px black;
}

.video .preview > * {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.video .video-head {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50px 1fr 50px;
  border-bottom-left-radius: 5px;
  background-color: white;
}


.video-head
.more {
  grid-area: 1/3/span 2;
  width: 40px;
  height: 50px;
  background-image: url("../icons/more.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.video-head
.more:hover{
  cursor: pointer;
}

.preview {
  position: relative;
  grid-row: 1;
  grid-column: 1/-1;
}

.preview img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.background,
.preview-items {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.preview-items::before,
.preview-items::after {
  z-index: 1;
  cursor: pointer;
}

.preview-items[data-live="true"]::before,
.preview-items[data-duration]::after,
.preview-items[data-viewers]::after {
  position: absolute;
  white-space: nowrap;
  width: max-content;
  height: min-content;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px;
}

.preview-items::before {
  left: 5px;
  top: 5px;
  background-color: grey;
}
.preview-items::after {
  right: 5px;
  bottom: 5px;
  background-color: gray;
}

.preview-items[data-live="true"]::before {
  content: "LIVE";
}
.preview-items[data-duration]::after {
  content: attr(data-duration);
}
.preview-items[data-viewers]::after {
  content: attr(data-viewers) " viewers";
}

.background {
  background: rgba(245, 245, 225, 0.5);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.background::after {
  content: "";
  display: block;
  width: 20%;
  height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../icons/paw.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.background:hover {
  opacity: 1;
}


.video-head .profile {
  grid-area: 1/1/span 2;
  align-self: center;
}
.video-head .video-name {
  grid-area: 1/2;
  align-self: flex-end;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.video-head 
.streamer-name{
  text-align: center;
  grid-area: 2/2;
  align-self: flex-start;
}
